#contact {
    height: 100%;
}

#contact h1 {
    color: var(--black);
}

#contact .row {
    align-items: flex-start;
}

#contact .row i {
    margin-right: 5px;
}

.contact-form-wrapper {
    margin-left: 0;
    width: 80%;
}



@media (max-width: 768px) {
    #contact p {
        text-align: left;
    }

    #contact .row {
        flex-direction: column;
    }

    .contact-form-wrapper {
        width: 100%;
    }
}